<!-- Unityapp/templates/diary_detail.html -->

{% block content %}
   <h3>コメント</h3>
   <ul>
        {% for comment in comments %}
            <li>
                {{ comment.content }} ({{ comment.created_at|date:'Y年m月d日 H:i' }}) by {{ comment.user.username }}
                <!-- 修正リンク -->
                <a href="{% url 'edit_comment' entry_id=entry.id comment_id=comment.id %}">修正</a>
                <!-- 削除リンク -->
                <a href="{% url 'delete_comment' entry_id=entry.id comment_id=comment.id %}">削除</a>
            </li>
        {% endfor %}
    </ul>

    <h3>コメント投稿</h3>
    <form method="post" action="{% url 'post_comment' entry.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">投稿</button>
    </form>

    <!-- 日記一覧に戻るリンク -->
    <a href="{% url 'diary' %}">日記に戻る</a>

    <!-- ホーム画面に戻るリンク -->
    <a href="{% url 'home_home' %}">ホームに戻る</a>
{% endblock %}