<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            padding: 0;
        }

        h1, p {
            margin: 10px 0;
        }
    </style>
    <!-- headの内容を記述 -->
</head>
<body>
    <h1>ホーム画面</h1>
    <p>ようこそ、{{ user.username }}さん</p>
    {% include 'home_menu.html' %}
    <a href="{% url 'login' %}">ログイン画面に戻る</a>
</body>
</html>

